body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(4,17,179);
  background: linear-gradient(180deg, rgba(4,17,179,1) 0%, rgba(205,22,22,0.9307073171065301) 100%);
  height: 100%;
  
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
  margin-left: 24%;
  margin-right: 24%;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: large;
  cursor: pointer;
  width: 70%;
  opacity: 0.9;
}
.andereoptieknop{
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: large;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

a:link, a:visited {
  background-color: #0b14bf;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  float:right;
  border-radius: 4px;

}
a:hover{
  opacity: 1;
}
.loginbutton{
  margin-left: 55%;
  margin-right: 0px;
  font-weight: bolder;
}
